* {
  margin: 0;
  padding: 0;
}

.game {
  width: 100vw;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 20px;
  height: 50px;
  background-color: white;
  position: relative;
  top: 150px;
  left: 50px;
}

.character img {
  width: 100%;
}
.animate {
  animation: jump 1250ms;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  top: 130px;
  left: 100vw;
  animation: block 2.5s infinite linear;
}

.block img {
  width: 100%;
}

@keyframes block {
  0% {
    left: 100vw;
  }
  100% {
    left: -40px;
  }
}
